* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    min-height: 100vh;
    background: #e6e6e6;
}

#header {
    background: #f7b600;
    padding: 15px;
    text-align: center;
}

#logo, #menu {
    padding: 10px;
}

#main-area {
    width: 940px;
    margin: 0 auto;
    padding: 15px;
}

#posts {
    width: 660px;
    float: left;
}

#side {
    width: 240px;
    float: right;
}

.post {
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

.content-side {
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}

#baseboard {
    clear: both;
    text-align: center;
    padding: 15px;
    background: #ccc;
    
}

a {
    text-decoration: none;
}
a:link,  a:visited {
    color: #f7b600;
}

a:hover {
    text-decoration: underline;
}

#header a:link, #header a:visited {
    color: #fff;
    padding: 8px 12px;
}

#header a:hover {
    color: #f7b600;
    background: white;
    border-radius: 7px;
    text-decoration: none;
}

h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

h2{ 
    color: #f7b600;
}

h3{ 
    color: #565656;
    background: #ccc;
    padding: 5px;
}

.white {
    color: white;
}

.post-data {
    display: block;
    font-size: 0.8em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.post-side {
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px dotted #ccc;
}